<% @astronauts.each do |a| %>
  <li>
  <%=a.name%>
  <%=a.age%>
  <%=a.job%>
  <p> list of missions: </p>
  <%a.missions_in_alphabetical_order.each do |m|%>
    <%= m.title%>
  <%end%>
  <p> Total time in space for <%=a.name%>: <%=a.total_time_in_space%></p>
  <li>
<%end%>
<p> Average Age: <%=@average_age%></p>
